.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 127px;
    color: white;
}

.search__logo {
    width: 272px;
    height: 92px;
    margin-bottom: 20px;
}

.search__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__input-container {
    position: relative;
    width: 560px;
}

.search__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #9aa0a6;
}

.search__input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #5f6368;
    border-radius: 24px;
    outline: none;
    font-size: 16px;
    background-color: #303134;
    color: white;
}

.search__icons {
    display: flex;
    position: absolute;
    right: -33px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    gap: 12px;
}

.search__buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search__buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    background-color: #3c4043;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search__results {
    margin-top: 20px;
}
  
.search__result-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
  
.search__result-item h3 {
    margin: 0;
    font-size: 18px;
}
  
.search__result-item p {
    margin: 5px 0 0;
    color: #555;
}

.search__results p {
    font-size: 1.2em;
    color: #555;
    margin: 20px 0;
    text-align: center;
}
  
@keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.9);
}
100% {
      opacity: 1;
      transform: scale(1);
}
}
  
.loading-message {
    animation: fadeInScale 0.5s ease-in-out;
}
  

@media (max-width: 768px) {
.search {
        margin-top: 20px;
}
    
.search__input-container {
        width: 100%;
        max-width: 560px;
}
    
.search__input {
        width: calc(100% - 40px);
        padding: 10px 40px;
}
    
.search__icons {
        right: 5px;
}
    
.search__buttons {
        flex-direction: column;
        align-items: center;
}
    
.search__buttons button {
        margin: 5px;
}
}

:root {
    --primary-color: #9aa0a6;
    --background-color: #303134;
    --border-color: #5f6368;
    --button-color: #3c4043;
    --text-color: white;
}

.search__icon {
    color: var(--primary-color);
}

.search__input {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.search__buttons button {
    background-color: var(--button-color);
    color: var(--text-color);
}
